/* -------  General Styles ------- */

body {
  font-family: "Cormorant Garamond", serif;
  color: #2d2d2d;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 26px;
  font-weight: 300;
  margin: 0 0px 0px 0px;
  text-align: center;
}

h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 500;
}

p {
  font-family: "Cormorant Garamond", serif;
  line-height: 1.5em;
  margin: 0;
}

/* font */

.montserrat-accordion {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-medium {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-light-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-garamond-regular-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-medium-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-garamond-semibold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-garamond-bold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
}


section {
  padding: 50px;
  background-color: #c2d2d8;
}


section.alternate-background {
  background-color: #F6F6F6;
  color: #2d2d2d;
}

main img {
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ffffff;
  padding: 20px 20px 0 20px;
  height: 80px;
  text-align: center;
}

.logo {
  font-family: "Cormorant Garamond", cursive;
  font-size: 30px;
  color: #4A8BA6;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #4A8BA6;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}


/* -------  Footer ------- */

footer {
  background-color: #63808e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}


/* New Code */

#menu {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}


/* ------- Welcome Section ------- */

#welcome {
  position: relative;
  text-align: center;
  height: calc(100vh - 200px); /* Takes up 100% of the viewport height */
  overflow: hidden;
  background: url('images/background2.png') no-repeat center center; /* Background image */
  background-size: cover; /* Ensures the image covers the entire section */
}

#welcome-img {
  width: 100%;
  overflow: hidden;
}

#welcome-img img {
  width: 100%;
  display: block;
}

.image-container {
  text-align: center; /* Center the image horizontally */
}

.centered-image {
  width: auto;
  height: auto;
  max-width: 80%; /* Ensures the image doesn't exceed the specified width */
  display: inline-block; /* Ensures there are no extra spaces at the bottom */
}

.image-border {
  border: 5px solid white;
  max-width: 96%;
}

#welcome-message {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

#welcome-message h1 {
  color: white;
  font-weight: 300;
  font-size: 30px;
  /* Additional styling as needed */
}

#welcome-message h2 {
  color: white;
  font-size: 20px;
  /* Additional styling as needed */
}

/* about section */

#about_heading {
  margin-top: 20px;
}

#about_heading h2 {
  text-align: left;
}

.about_text {
  margin-top: 20px;
  margin-bottom: 10px;
}

.about_text p {
  font-size: 16px;
  margin-top: 15px;
}


/* Quote Heading */

.quote_heading {
  background-color: #63808e;
  padding: 10px;
}

.quote_heading h2 {
  color: white;
  font-size: 20px;
}

/* Music */

#music {
  text-align: left;
}

#music h2 {
  text-align: left;
}

#music-library p {
  margin-top: 15px;
  margin-bottom: 15px;
}

#music img {
  margin-bottom: 15px;
}

/* Music Dropdowns */

/* Hidden by default */
.hidden {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/* Add some basic styling */
.accordion-button {
  background-color: #4A8BA6;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.accordion-button .icon {
  margin-left: 10px;
}

.accordion-button:hover {
  background-color: #3A6A86;
}

/* Extra content animation */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-content.hidden {
  display: block;
}

.accordion-content p {
  margin-top: 0px;
}

















/* -------  Media Query ------- */

@media all and (min-width: 768px) {

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
}

.logo {
  font-size: 40px;
}

/* ------- Welcome Section ------- */

#welcome {
  position: relative;
  text-align: center;
}

#welcome-img {
  width: 100%;
  overflow: hidden;
}

#welcome-img img {
  width: 100%;
  display: block;
}

.image-container {
  text-align: center; /* Center the image horizontally */
}

.centered-image {
  width: auto;
  height: auto;
  max-width: 300px; /* Ensures the image doesn't exceed the specified width */
  display: inline-block; /* Ensures there are no extra spaces at the bottom */
}

#welcome-message {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

#welcome-message h1 {
  color: white;
  font-size: 2em;
  /* Additional styling as needed */
}

#welcome-message h2 {
  color: white;
  font-size: 2em;
  /* Additional styling as needed */
}

#join {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

#join-img {
  flex: 2;
}

#join-form {
  flex: 1;
}

#about {
  padding: 30px;
}

#about h2 {
  padding-bottom: 10px;
}

#about img {
  margin: 0;
}

#about_flex {
  display: flex;
  gap: 20px;
}

.about_item {
  flex: 1;
}

#about_text {
  margin-top: 20px;
  flex: 2;
}

#download {
  display: flex;
  gap: 20px;
  padding: 30px;
  align-items: center;
}

#download div img {
  margin-top: 0;
  margin-bottom: 0px;
}

#download div {
  flex: 1;
}

#blog {
  padding: 30px;
}

#blog h2 {
  padding-bottom: 10px;
}

#blog img {
  margin: 0;
}

#blog_flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#blog_top {
  display: flex;
  gap: 20px;
}

#blog_top_left {
  flex: 1;
}

#blog_top_right {
  flex: 1;
}

#blog_bottom {
  display: flex;
  gap: 20px;
}

}