/* -------  General Styles ------- */

body {
  font-family: "Cormorant Garamond", serif;
  color: #2d2d2d;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 26px;
  font-weight: 300;
  margin: 0 0px 0px 0px;
  text-align: center;
}

h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 500;
}

p {
  font-family: "Cormorant Garamond", serif;
  line-height: 1.5em;
  margin: 0;
}

/* font */

.montserrat-accordion {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-medium {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-light-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-garamond-regular-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-medium-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-garamond-semibold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-garamond-bold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
}


section {
  padding: 50px;
  background-color: #c2d2d8;
}


section.alternate-background {
  background-color: #F6F6F6;
  color: #2d2d2d;
}

main img {
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ffffff;
  padding: 20px 20px 0 20px;
  height: 60px;
  text-align: center;
}

.logo {
  font-family: "Cormorant Garamond", cursive;
  font-size: 30px;
  color: #4A8BA6;
}

header nav ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

header nav ul li a {
  color: #4A8BA6;
  text-decoration: none;
  font-size: 40px;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}


/* -------  Footer ------- */

footer {
  background-color: #63808e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}


/* New Code */

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #ffffff;
  color: #4a8aa5;
  list-style: none;
  padding-top: 4rem;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.showMenu {
  transform: translateY(0);
}

.menuItem {
  padding-right: 0px;
}


/* Hamburger */

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  margin-top: 8px;
  border: white solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.material-icons {
  color: #818181;
}

/* ------- Welcome Section ------- */

#welcome {
  position: relative;
  text-align: center;
  height: calc(100vh - 180px); /* Takes up 100% of the viewport height */
  overflow: hidden;
  background: url('images/background2.png') no-repeat center center; /* Background image */
  background-size: cover; /* Ensures the image covers the entire section */
}

#welcome-img {
  width: 100%;
  overflow: hidden;
}

#welcome-img img {
  width: 100%;
  display: block;
}

.image-container {
  text-align: center; /* Center the image horizontally */
}

.centered-image {
  width: auto;
  height: auto;
  max-width: 80%; /* Ensures the image doesn't exceed the specified width */
  display: inline-block; /* Ensures there are no extra spaces at the bottom */
}

.image-border {
  border: 5px solid white;
  max-width: 96%;
}

#welcome-message {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

#welcome-message h1 {
  color: white;
  font-weight: 300;
  font-size: 30px;
  /* Additional styling as needed */
}

#welcome-message h2 {
  color: white;
  font-size: 20px;
  /* Additional styling as needed */
}

/* about section */

#about_heading {
  margin-top: 20px;
}

#about_heading h2 {
  text-align: left;
}

.about_text {
  margin-top: 20px;
  margin-bottom: 10px;
}

.about_text p {
  font-size: 16px;
  margin-top: 15px;
}


/* Quote Heading */

.quote_heading {
  background-color: #63808e;
  padding: 10px;
}

.quote_heading h2 {
  color: white;
  font-size: 20px;
}

/* Music */

#music {
  text-align: left;
}

#music h2 {
  text-align: left;
}

#music-library p {
  margin-top: 15px;
  margin-bottom: 15px;
}

#music img {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Music Dropdowns */

/* Hidden by default */
.hidden {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/* Add some basic styling */
.accordion-button {
  background-color: #4a8aa5;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.accordion-button .icon {
  margin-left: 10px;
}

.accordion-button:hover {
  background-color: #3A6A86;
}

/* Extra content animation */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-content.hidden {
  display: block;
}

.accordion-content p {
  margin-top: 0px;
}


/* Featured Music */
.featured-music {
  text-align: center;
}

.featured-music h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}


section a {
  color: #4A8BA6;
  text-decoration: none;
  line-height: 1.5em;
  margin-top: 20px;
}

 section a:hover {
  color: #bdbdbd;
  text-decoration: none;
}



/* #experience {
  background-color:#3A6A86;
} */

#experience h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.experience-item {
  text-align: left;
  margin-top: 15px;
  padding: 15px 15px 15px 15px;
  background-color: rgba(255, 255, 255, 0.2); /* 50% transparent white */
  border-radius: 2px;
}

.experience-item h3 {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.experience-item .accordion-button {
  background-color: rgba(253, 253, 253, 0);
  color: rgb(86, 86, 86);
  padding: 0px;
  width: 100%;
  border: none;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.experience-item .icon {
  font-size: 25px;
  font-weight: 500;
}

/* Links */


.quartet-background {
  width: 300px;
  height: 150px;
  background-image: url('images/string-quartet-clipart3.png'); /* Replace with your image path */
  background-position: center; /* Centers the image */
  background-size: cover; /* Ensures the image covers the entire div */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  padding: 20px 20px 20px 20px; /* Adds some padding for better presentation */
}

#links-logo {
  display: flex;
  justify-content: center; 
}

#links .logo {
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#links {
  text-align: center;
}


#links h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 15px;
}

#links p {
  margin-top: 15px;
}









/* -------  Media Query ------- */

@media all and (min-width: 768px) {

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.logo {
  font-size: 40px;
}




/* ------- Welcome Section ------- */

#welcome {
  position: relative;
  text-align: center;
}

#welcome-img {
  width: 100%;
  overflow: hidden;
}

#welcome-img img {
  width: 100%;
  display: block;
}

.image-container {
  text-align: center; /* Center the image horizontally */
}

.centered-image {
  width: auto;
  height: auto;
  max-width: 300px; /* Ensures the image doesn't exceed the specified width */
  display: inline-block; /* Ensures there are no extra spaces at the bottom */
}

#welcome-message {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

#welcome-message h1 {
  color: white;
  font-size: 2em;
  /* Additional styling as needed */
}

#welcome-message h2 {
  color: white;
  font-size: 2em;
  /* Additional styling as needed */
}

#join {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

#join-img {
  flex: 2;
}

#join-form {
  flex: 1;
}

#about {
  padding: 30px;
}

#about h2 {
  padding-bottom: 10px;
}

#about img {
  margin: 0;
}

#about_flex {
  display: flex;
  gap: 20px;
}

.about_item {
  flex: 1;
}

#about_text {
  margin-top: 20px;
  flex: 2;
}

#download {
  display: flex;
  gap: 20px;
  padding: 30px;
  align-items: center;
}

#download div img {
  margin-top: 0;
  margin-bottom: 0px;
}

#download div {
  flex: 1;
}

#blog {
  padding: 30px;
}

#blog h2 {
  padding-bottom: 10px;
}

#blog img {
  margin: 0;
}

#blog_flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#blog_top {
  display: flex;
  gap: 20px;
}

#blog_top_left {
  flex: 1;
}

#blog_top_right {
  flex: 1;
}

#blog_bottom {
  display: flex;
  gap: 20px;
}

}